@media (prefers-color-scheme: dark){
  #popupbg{
    background: rgb(27, 27, 27);
    color: #C4C4C4
  }
}

@media (prefers-color-scheme: dark){
  #pagebg{
    background: rgb(27, 27, 27);
  }
  .header{
      background: #575757;
  }
}

@media (prefers-color-scheme: light){
  #pagebg{
    background: aliceblue;
  }
  .header{
      background: #C4C4C4;
  }
}


.button1{
  height: 80px;
  width: 120px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 10px;
  border-color: rgba(0,0,0,0);
  font-style: normal;
  font-size: 12px;
  color: rgba(221,221,220,0.6);
  text-align: center;
}

.header{
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  width: 100%;
  height: 50px;
  margin: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  right: 0;
}

#headericon{
  width: auto;
  height: 81%;
}

.header2{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

#text{
  font-size: 8px;
  -webkit-text-size-adjust: none;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
